.ingredients {
    display: grid;
}
a {
    text-decoration: none;
    
}
.contenedoringredientes {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    padding-top: 8px;
    margin-bottom: 12px;
    border-radius: 9px;
}
.ingrediente {
    color: black;
}
.ingrediente:hover{
    transition: all ease-in-out .3s;
    cursor: pointer;
    color: blue;
}
.general {
    display: flex;
    justify-content: center;
    margin-left: 7rem;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
}
/* .titulo {
    text-align: center;
} */
