
img {
    width: 90%;
}
.imagen {
    max-width: 112px;
    width: 136px;
}
.titulotrago {
    font-weight: 400;
    font-size: 18px;
    max-width: 125px;
}
.ingredientes {
    max-width: 200px;
    font-weight: 400;
}